#title{
    background-color: lightcoral;
}
 .container-fluid{ 
    padding: 3% 15%;
} 
h1{
    font-family:  'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family:'Montserrat-Black' ;
    font-weight: bold;
}
p{
    color: gray;
}
.navbar{
    padding-bottom:0 0 4rem;
    margin-right: 50px;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 3rem;
    font-weight: bold;
    margin-right: 150px;
    /* margin-left: 30px; */
}
.nav-item{
    padding:0 18px;
    margin-left: 50px;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    
    
}
#features{
    padding: 7% 15%;
    background-color: white;  
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: lightsalmon;
    margin-bottom: 1.5rem;
}
.icon:hover{
    color:lightcoral;
}
#testimonials{
    text-align: center;
    background-color: lightcoral;
    color: white;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: lightcoral;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px ;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/* #cta{
    background-color: lightcoral;
    color: white;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family:'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
} */
#footer{
    padding: 7% 15%;
    text-align: center;
    background-color: lightcoral;
}
#copyright{
    color: black;
}
.social-icon{
    margin: 20px 10px;
}
/* media queries used to make website responsive */
@media(max-width:1028px){
    #title{
        text-align: center;
    }
     .title-image{
        position: static;
        transform: rotate(0);
    }
}